#slideShow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 1;
    
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    background-color: rgba(238, 238, 245, 0.9);
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

#slideContainer {
    outline: none;
    position: fixed;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;

    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.1s;
    -moz-animation-name: zoom;
    -moz-animation-duration: 0.1s;
    -o-animation-name: zoom;
    -o-animation-duration: 0.1s;
    animation-name: zoom;
    animation-duration: 0.1s;
}

.slide {
    z-index: 2;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    max-width: 100%;
    max-height: 100%;
}

.closeSlides, .prevSlide, .nextSlide {
    z-index: 3;
    cursor: pointer;
    
    text-shadow:
        0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff,
        0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff,
        0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
    line-height: 0px;
    
    position: absolute;
}

.closeSlides:hover, .prevSlide:hover, .nextSlide:hover {
    color: #ff9a3d;
}

.closeSlides {
    right: 0;
    top: 0;
    
    font-size: 4em;
}

.prevSlide, .nextSlide {
    font-size: 3em;
    top: 50%;
}

.prevSlide {
    left: 0;
}

.nextSlide {
    right: 0;
}

.slideElement {
    opacity: 1.0;
    filter: alpha(opacity=100);
    cursor: pointer;
}

.slideElement:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}