/*
Color Scheme:
#ACACCC
#535399 | lighter shades: #8787b8, #eeeef5, #f5f5fa | darker shades: #252545
#F0F8FF aliceblue
#FFD6B0
#CCB6AC
*/
/*
Color Scheme Link:
https://color.adobe.com/create/color-wheel/?base=2&rule=Compound&selected=4&name=My%20Color%20Theme&mode=hsv&rgbvalues=0.6729411764705882,0.6738328173374772,0.8,0.32470588235294123,0.3266377708978674,0.6,0.9411764705882353,0.9725490196078431,1,1,0.8400980392156678,0.6911764705882353,0.8,0.7156823529411785,0.6729411764705882&swatchOrder=0,1,2,3,4

http://www.color-hex.com/color/f0f8ff
http://www.color-hex.com/color-palette/4142
*/

@import url('https://fonts.googleapis.com/css?family=Karla');
img {
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a:link, a:visited {
    text-decoration: none;
    color: #ff9a3d;
}

a:hover {
    text-decoration: none;
    color: hotpink;
}

#gameSection a:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50);
    outline: 5px solid #eeeef5;
}

a:active {
    text-decoration: none;
    color: #e50072;
}

* {
    box-sizing: border-box;
}

html, body {
    color: #3e3e73;
	background-color: white;
	margin: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 100%;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px 20px 20px 20px;
    background-color: #f6f6fa;
}

#title {
    padding: 0px 10px;
    float: left;
    clear: both;
    font-style: normal;
}

#title h1 {
    margin: 0px;
    position: relative;
    right: 4px;
    padding: 4px 0 15px 0;
    
    color: #3e3e73;
    font-size: 4em;
    line-height: 90%;
}

#title h2 {
    margin: 0px;
    
    color: #8787b8;
    font-size: 1.5em;
}

#contactMe {
    clear: both;
    color: #8787b8;
    margin: 0;
    padding: 30px 0 10px 10px;
    float: left;
    font-size: 1.1em;
    text-align: left;
}

#gameSection {
    clear: both;
    padding-top: 325px;
}

#gameSection img {
    opacity: 1.0;
    filter: alpha(opacity=100);
    outline: 5px solid #eeeef5;
}

div.game {
    float: left;
    padding: 10px;
    max-width: 630px;
    max-height: 500px;
}

div.game p {
    margin: 0px; text-align: left;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 390px) {
    #gameSection {
        padding-top: 295px;
    }
}

@media only screen and (min-width: 412px) {
    #title h1 {
        line-height: 100%;
        padding: 0;
    }
    
    #gameSection {
        padding-top: 230px;
    }
}

@media only screen and (min-width: 500px) {
    .col-a-1 {width: 8.33%;}
    .col-a-2 {width: 16.66%;}
    .col-a-3 {width: 25%;}
    .col-a-4 {width: 33.33%;}
    .col-a-5 {width: 41.66%;}
    .col-a-6 {width: 50%;}
    .col-a-7 {width: 58.33%;}
    .col-a-8 {width: 66.66%;}
    .col-a-9 {width: 75%;}
    .col-a-10 {width: 83.33%;}
    .col-a-11 {width: 91.66%;}
    .col-a-12 {width: 100%;}
    
    #gameSection {
        padding-top: 235px;
    }
}

@media only screen and (min-width: 700px) {
    /* ContactMe Switch to right align: */
    .col-b-1 {width: 8.33%;}
    .col-b-2 {width: 16.66%;}
    .col-b-3 {width: 25%;}
    .col-b-4 {width: 33.33%;}
    .col-b-5 {width: 41.66%;}
    .col-b-6 {width: 50%;}
    .col-b-7 {width: 58.33%;}
    .col-b-8 {width: 66.66%;}
    .col-b-9 {width: 75%;}
    .col-b-10 {width: 83.33%;}
    .col-b-11 {width: 91.66%;}
    .col-b-12 {width: 100%;}
    
    #title {
        clear: none;
    }
    
    #contactMe {
        float: right;
        clear: none;
        text-align: right;
        padding: 25px 10px;
    }
    
    #gameSection {
        padding-top: 140px;
    }
}

@media only screen and (min-width: 960px) {
    /* For desktop: */
    .col-c-1 {width: 8.33%;}
    .col-c-2 {width: 16.66%;}
    .col-c-3 {width: 25%;}
    .col-c-4 {width: 33.33%;}
    .col-c-5 {width: 41.66%;}
    .col-c-6 {width: 50%;}
    .col-c-7 {width: 58.33%;}
    .col-c-8 {width: 66.66%;}
    .col-c-9 {width: 75%;}
    .col-c-10 {width: 83.33%;}
    .col-c-11 {width: 91.66%;}
    .col-c-12 {width: 100%;}
}