#gameSection p {
    padding: 5px;
    margin: 0;
    font-size: 1em;
}
/*
h3 a {
    display: inline-block;
    padding: 0;
    margin: 0 -10px;
    font-size: 1.5em;
    line-height: 98%;
}
*/
h3 {
    padding: 5px;
    margin: 0;
    color: #535399;
    font-size: 1.5em;
}

#gameSection ul {
    display:block;
    list-style-type: circle;
    padding: 5px 0 0 0;
    margin: 0 0 0 30px;
}

#gameSection article {
    margin: 0 0 0 5px;
    padding: 0 0 0 20px;
    font-style: italic;
    border-left: solid 8px #a9a9cc;
}

#gameSection li {
    margin: 0;
    padding: 0 0 8px 0;
}

#cover {
    margin: auto;
    padding: 10px 5px;
    max-width: 100%;
    float: none;
    clear: both;
}

#cover h3 {
    display: inline-block;
    padding: 0;
    margin: 0 -5px;
    line-height: 98%;
    font-size: 3em;
    padding-top: 10px;
}

#screenshots {
    padding-top: 20px;
    margin: 0px 15px;
}

#screenshots h3 {
    padding-left: 5px;
}

#cover img, #cover video, #screenshots img, #screenshots video {
    border: 5px solid #e5e5f0;
    max-width: 100%;
    height: auto;
}

.extras {
    margin: 0px;
    padding: 5px;
    max-width: 100%;
    float: left;
}

/*
@media only screen and (min-width: 500px) {
    #cover {
        margin: auto;
        padding: 10px;
        float: none;
        clear: both;
    }
}
*/

@media only screen and (min-width: 700px) {
    /* ContactMe Switch to right align: */
    #cover {
        margin: 0;
        max-width: 40%;
        padding: 10px 10px 10px 25px;
        float: right;
        clear: none;
    }
    
    #screenshots {
        margin: 0px 35px;
    }
}

/*
@media only screen and (min-width: 960px) {
    #cover {
        margin: 0;
        padding: 10px 10px 10px 25px;
        float: right;
        clear: none;
    }
}
*/
